# mongoDB demo

In [1]:
import pymongo
import pandas as pd

%load_ext autoreload
%autoreload
from src.mongoDB_connector import MONGODB_CONNECTOR

In [2]:
DB_connector = MONGODB_CONNECTOR(user="shared_user", token="2pZGb4axFMwpl3qR")

available databases:['CS5425', 'admin', 'local']
available collections/tables:['image_embedding'] from CS5425

## read first line

In [3]:
DB_connector.find_one(type="pandas")#type=origin

,_id,img_name,bert_ecd,kmeans_cluster_id,kmeans_cluster_centroid
0,6235fbeb8bea51f5f0f8a171,1008566138_6927679c8a.jpg,"[-0.5449886322021484, 0.26467984914779663, 0.5...",0,"[-6.068609248160182, -7.191674065634629, 4.521..."

## read full table

In [4]:
meta_data = DB_connector.read_table(type="pandas")#type=origin
meta_data.head()

,_id,img_name,bert_ecd,kmeans_cluster_id,kmeans_cluster_centroid
0,6235fbeb8bea51f5f0f8a171,1008566138_6927679c8a.jpg,"[-0.5449886322021484, 0.26467984914779663, 0.5...",0,"[-6.068609248160182, -7.191674065634629, 4.521..."
1,6235fbeb8bea51f5f0f8a172,1022552002_2b93faf9e7_n.jpg,"[-0.4078378975391388, -0.03765500709414482, 0....",16,"[3.6643718638566876, 8.557126964694485, 8.0513..."
2,6235fbeb8bea51f5f0f8a173,1022552036_67d33d5bd8_n.jpg,"[-0.6686379313468933, -0.35899338126182556, 0....",6,"[-7.9336315329280716, 3.1409215200124954, 0.81..."
3,6235fbeb8bea51f5f0f8a174,10386503264_e05387e1f7_m.jpg,"[-1.0181872844696045, 0.03845890238881111, -0....",17,"[-7.31532278235924, 1.9370902929474656, 2.2857..."
4,6235fbeb8bea51f5f0f8a175,10386522775_4f8c616999_m.jpg,"[-0.3553635776042938, 0.04300282523036003, 0.0...",0,"[-6.068609248160182, -7.191674065634629, 4.521..."

# Load & Use models (PCA, Kmeans)

In [5]:
from joblib import load

In [6]:
pca = load('./models/pca.joblib')
kmeans = load('./models/kmeans.joblib')

## get first sample: 
### bert_enc => pca_features => cluster_index/cluster_centroid

In [12]:
reduced_feature = pca.transform([meta_data.loc[0, "bert_ecd"]])
reduced_feature.shape

(1, 122)

In [13]:
kmeans.predict(reduced_feature)

array([0])